<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>674831099323-tv6odn8p9uu0r16ptgppe8ouhog84uf4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.674831099323-tv6odn8p9uu0r16ptgppe8ouhog84uf4</string>
	<key>API_KEY</key>
	<string>AIzaSyCoNYk5uGqVOU8GApJAnk-BCKo0FuCSflM</string>
	<key>GCM_SENDER_ID</key>
	<string>674831099323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maddriver.ProktekGarageRemote</string>
	<key>PROJECT_ID</key>
	<string>proktekgarageremote</string>
	<key>STORAGE_BUCKET</key>
	<string>proktekgarageremote.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:674831099323:ios:f751e5327da59c4f0a109e</string>
</dict>
</plist>